<div class="row">
  <div class="col-sm-8">
    <%= simple_form_for [@list, @task], html: { class: 'form-horizontal' } do |form| %>
      <%= form.input :description %>
      <%= form.input :priority %>
      <div class="form-group">
        <%= form.label :due_at, class: "control-label" %>
        <%= form.date_field :due_at, class: "form-control" %>
      </div>
      <%= form.association :category, as: :check_boxes, collection: Category.all %>
      <%= form.simple_fields_for :link do |link_field| %>
        <%= link_field.input :url %>
      <% end %>
      <%= form.button :submit, class: 'btn btn-success' %>
    <% end %>
  </br>
    <%= link_to "Cancel", list_path(@list), class: 'btn btn-danger' %>
  </div>
</div>
