<ol class="breadcrumb">
  <li><%= link_to "Lists", lists_path %></li>
  <li class="active"><%= @list.name %></li>
</ol>

<div class="container">

  <div class="row">
    <div class="page-header">
      <h3><%= @list.name %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="new-task-form">
        <%= simple_form_for [@list, @task], html: {class: 'form-inline' }, remote: true do |form| %>
          <%= form.input :description,
            placeholder: 'Add a Task',
            label: false,
            wrapper: false,
            input_html: { class: "input-task" } %>
          <%= form.date_field :due_at, class: "form-control input-date" %>
          <%= form.submit class: "btn btn-success pull-right" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Name</td>
            <td>Due at</td>
            <td>Categories</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody id="tasks">
          <%= render partial: 'task', collection: @tasks, as: :task %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= link_to "Show completed tasks", completed_index_list_tasks_path(@list), class: 'btn btn-default btn-md' %>
    </div>
  </div>

</div>
