<div class="container">

  <ol class="breadcrumb">
    <li><%= link_to "Lists", lists_path %></li>
    <li class="active"><%= @list.name %></li>
  </ol>

  <div class="row">
    <div class="page-header">
      <h1><%= @list.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= simple_form_for [@list, @task], html: { class: 'form-horizontal' } do |form| %>
        <%= form.input :description, placeholder: 'Add a Task' %>
        <%= form.submit html: { class: 'btn btn-success col-sm-2' } %>
      <% end %>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <td>Name</td>
          <td></td>
          <td>Categories</td>
        </tr>
      </thead>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.description, edit_list_task_path(@list, task) %></td>
          <td>
            <%= link_to "Delete", list_task_path(@list, task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %>
          </td>
          <td>
            <%= link_to "Complete", complete_list_task_path(@list, task), method: :post, class: 'btn btn-default btn-xs' %>
          </td>
          <td>
            <% task.category.each do |cat| %>
               <div class="label text-center <%= cycle('label-success', 'label-info', 'label-warning', 'label-danger') %>">
              <%= cat.name  %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= link_to "Show completed tasks", completed_index_list_tasks_path(@list), class: 'btn btn-default btn-md' %>
    </div>
  </div>

</div>
